/* -------------------------------GLASMORPHISM_EFFECT------------------------ */
.box{
  background-image: url("/assets/user-login-page-background.jpg");
  background-size: cover;
}

/* ---------------------------CONTAINER----------------------- */
.container{
  /* background-color: aqua; */
  width: max-content;
  padding: 15vh;
  margin: auto;
}

/* ---------------------------LOGIN_FORM---------------------- */
.login-form {
  max-width: 300px;
  min-width: 100px;
  /* background-color: white; */
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 50px;
  border-radius: 10px;
}
.person-icon .mat-icon{
  font-size: 100px;
  margin-left: 30%;
}
.person-icon{
  /* background-color: aqua; */
  color:white;
  margin-bottom: 50px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-bottom: 2px solid white !important;
  background-color: rgba(119, 114, 114, 0.24);
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
 color: white !important; 
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-label{
  color: white;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
  color: aqua !important;
  font-weight: bold;
}
.mat-error{
  color: red;
  font-size: 12px;
  /* background-color: white; */
}

.example-right-align {
  text-align: right;
}
.mat-form-field{
  width: 100%;
}
.mat-form-field ::placeholder{
  color: white;
}
.password-icon{
  border: none;
  background-color: transparent;
  color: white;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

/* ------------------------LOGIN_BUTTON--------------------- */
.login-btn{
  display: block;
  margin: 50px auto;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
}
.login-btn:hover{
  background : rgb(12, 4, 121);
  color: white;
  transition: 0.5s;
}
/* -----------------REMEMBER_CHECKBOX--------------------- */
.remember-me{
  color: white;
  font-weight: 550;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: rgb(11, 202, 11) !important;
}
::ng-deep .mat-checkbox .mat-checkbox-frame{
  border-color: white !important;
}

/* --------------FORGOT_PASSWORD_LINK------------------- */
.forgot-password-link{
  text-decoration: none;
  color: white;
  font-weight: 550;
  /* background-color: brown; */
  float: right;
}
